@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* gradients */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --gradient-primary: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );

  --gradient-to-transparent: linear-gradient(
    to bottom,
    hsl(241, 81%, 54%),
    hsl(0, 0%, 100%, 0%)
  );
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --font-family: "Hanken Grotesk", "sans-serif";
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;
}

.font-color-red {
  color: var(--Light-red);
}
.font-color-yellow {
  color: var(--Orangey-yellow);
}
.font-color-green {
  color: var(--Green-teal);
}
.font-color-blue {
  color: var(--Cobalt-blue);
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-400);
  color: var(--Dark-gray-blue);
}

.container {
  max-width: 43rem;
  display: grid;
  --border-radius: 2rem;
  --padding: 2.5rem;
}
.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.results {
  text-align: center;
  background: var(--gradient-primary);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: var(--padding);
}

.results-score {
  width: 12rem;
  margin-inline: auto;
  background: var(--gradient-to-transparent);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.results-score span {
  display: block;
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
  line-height: 1;
  color: var(--White);
}

.result-rank {
  color: var(--White);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: var(--padding);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.summary-score span {
  font-weight: var(--fw-bold);
}

.summary-title {
  display: flex;
  gap: 0.5rem;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
button {
  color: var(--White);
  line-height: 1;
  background-color: var(--Dark-gray-blue);
  border: 0;
  padding: 1rem 2rem;
  border-radius: 100vw;
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background: var(--gradient-primary);
}

@media (min-width: 768px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .container {
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 1rem 3rem hsla(224, 30%, 27%, 0.2);
  }

  .results {
    border-radius: var(--border-radius);
  }
}
